<div class="pl-4 pt-2 pb-2 pr-4">
	<div class="container-fluid">
		<div class="row flex align-items-center">
			<div class="col-lg-1 col-md-2 text-center">
				<img class="image-album img-fluid rounded" src="{{url + '/get-image-album/5HifqDvtIu6Z6GXmzoMxq-X0.jpg'}}" alt="">
			</div>
			<div class="col-lg-9 col-md-7">
				<span class="player-song-title"><strong>Título de la canción</strong></span>
				<span class="player-song-artist"><a href="#">Artísta</a></span>
				<div class="player-song-progressbar">
					<div class="player-song-progressbar-filled">
						<div class="player-song-progressbar-point"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="controls">
					<div class="options">
						<a href="#"><i class="fas fa-random"></i></a>
						<a href="#"><i class="fas fa-step-backward"></i></a>
						<a href="#" class="active"><i class="fas fa-play"></i></a>
						<a href="#"><i class="fas fa-step-forward"></i></a>
						<a href="#"><i class="fas fa-redo"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>